################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/boost_1_82_0
/cryptopp890
/Server
*.exe
